apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ .Release.Name }}-pdb
  namespace: {{ .Values.namespace.name }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}