{{- if and .Values.postgresql.enabled .Values.postgresql.primary.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "painchain.fullname" . }}-postgresql
  labels:
    {{- include "painchain.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgresql.primary.persistence.size }}
{{- end }}
